.search-bar{
	margin: 20px 0 10px;
}

.search-bar input{
	width: 100%;
	padding: 5px 10px;
}

.details{
	border: 1px solid #eee;
	margin-top: 10px;
	padding: 10px;
}

.list-group-item{
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.list-group-item:hover{
	background-color: #ddd;
}
